body{
    background: #D8E3F8;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display:flex;
    padding:10px;
    margin: 10px;
    background: #F0F8FF;
    border-radius: 10px;
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 4px double #C5D8F3;
    border-radius: 5px;
}

.assignment img:hover{
    border: 4px double #fff;
}

h1{
    color: #4C648A;
    
}

a{
    text-decoration: none; 
    color: #4C648A;
}


a:hover {
    color: #a5c5ef;
}