body{
    background: #D8E3F8;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
    display:flex;
    flex-wrap:wrap;
}
.assignment{
    width: 22%;
    padding:10px;
    margin: 10px;
    padding:20px 10;
    background: #F0F8FF;
    border-radius: 10px;
}

.assignment img{
    width:200px;
    margin: 10px;
    border: 4px double #C5D8F3;
    border-radius: 5px;
    display:block;
    margin:auto;
}

.assignment img:hover{
    border: 4px double #fff;
}

h1{
    color: #4C648A;
    text-align: center;
}

h2{
    text-align:center;
}

a{
    text-decoration: none; 
    color: #4C648A;
}


a:hover {
    color: #a5c5ef;
}